<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Perspective Work</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/styles/images/icon180.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/styles/images/icon32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/styles/images/icon.png">
		<link rel="manifest" href="/styles/images/icon180.png">
		<link rel="mask-icon" href="/styles/images/icon180.png" color="#ffffff">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<link href="/styles/main.css" type="text/css" rel="stylesheet">
		<link href="/styles/book-1-description.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.typekit.net/vqh6qqe.css">
		<base href="/">
	</head>
	<body>
		<div id="hidden" class="how-it-works-wrapper pos-trs-l">
			<div class="gi-header-wrapper">
				<p>How to publish</p>
				<div id="got-it-btn" class="got-it-btn got-it-btn-1"><p>Got it</p></div>
			</div>
			<div class="steps-wrapper">
				<div class="step-1-wrapper">
					<div class="num"><p>1</p></div>
					<p>You have something that you would like to publish.</p>
					<img src="/styles/images/step-1.png">
				</div>
				<div class="step-2-wrapper">
					<div class="num"><p>2</p></div>
					<p>Send us an email with your work attached.</p>
					<div class="email-img-wrapper">
						<div class="top-bar"></div>
						<p class="f to">To: <span>submission@perspective-work.com</span></p>
						<p class="f cc">cc:</p>
						<p class="f subject">Subject: <span>My submission</span></p>
						<p class="f attatch">Attatchments: <span>my_book.docx</span></p>
						<p class="msg">Hello,<br>My project is...<br>Signature</p>
					</div>
				</div>
			</div>
			<div class="btn-action-wrapper">
				<div class="submit-btn big-btn"><a href="mailto:submissions@perspective-work.com?subject=My submission&body=Hello,">Submit your work</a></div>
				<div id="got-it-btn" class="got-it-btn big-btn"><p>Got it</p></div>
			</div>
		</div>
		<div id="" class=" main-wrapper">
			<div class="header-wrapper">
				<div class="description">
					<p>Perspective Work — is a digital publishing house that wants to empower writers and stories by offering a curated online space for writers and by writers. <span id="learnTo" class="btn">Learn&nbsp;how</span> to publish with us or <a class="mail-btn btn" href="mailto:submissions@perspective-work.com?subject=My submission&body=Hello,">publish&nbsp;now</a> by submiting your work.</p>
				</div>
			</div>
			<div class="image-wrapper">
				<div class="image-tags-wrapper">
					<div class="tag tag-2"><p>New</p></div>
					<div class="tag tag-3"><p>Covid-19</p></div>
					<div class="tag tag-4"><p>Questionnaire</p></div>
				</div>
				<div class="img-sub-wrapper">
					<img src="/styles/images/book-1-img.jpg">
				</div>
				<div class="pres-book-btn-wrapper">
					<div><a href="/book">View book</a></div>
				</div>
			</div>
			<div class="lib-header-wrapper">
				<div class="lib-header">
					<p>Our books</p>
				</div>
				<div class="lib-anchor">
					<p class="title-anchor">Title</p>
					<p class="author-anchor">Author</p>
					<p class="date-anchor">Date</p>
					<p class="subject-anchor">Subject</p>
				</div>
			</div>
			<div class="library-wrapper">
				<div class="lib-row-wrapper">
					<div class="lib-row-1 lib-row-1-hide-hashtag">
						<p class=" title-1">Works On Perspective Issue 01</p>
						<p class="author-1">Perspective Work Team</p>
						<p class="date-1">08.2020</p>
						<p class="tag-1 btn">See tags</p>
						<div class="hidden hashtag-wrapper-1">
							<div><p>#Covid-19</p></div>
							<div><p>#Questionnaire</p></div>
							<div><p>#Opinions</p></div>
							<div><p>#Experience</p></div>
						</div>
						<div class="more-btn-1"><p>More</p></div>
					</div>
					<div class="lib-row-2">
						<p class=" title-2">Works On Perspective Issue 02</p>
						<p class="author-2">Perspective Work Team</p>
						<p class="date-2">01.2021</p>
						<div class="more-btn-2"><p>Coming soon</p></div>
					</div>
					<div class="lib-row-3">
						<p class="title-3">La voglia di vivere</p>
						<p class="author-3">Giovanni Vilone</p>
						<p class="date-3">To be announced</p>
						<div class="more-btn-3"><p>Coming soon</p></div>
					</div>
					<div class="lib-row-final">
						<div class="publish-now">
							<a class="btn" href="mailto:submissions@perspective-work.com?subject=My submission&body=Hello,">Publish now</a>
						</div>
					</div>
				</div>
			</div>
			<div id="" class="footer-wrapper">
				<div class="col-wrapper">
					<div class="col col-1">
						<p>Follow</p>
						<a class="underline" target="_blank" href="https://www.instagram.com/perspectivework/">Instagram</a>
					</div>
					<div class="col col-2">
						<p>Contact</p>
						<a class="underline" href="mailto:hello@perspective-work.com?subject=My inquiry&body=Hello,">Get in touch</a>
					</div>
					<div class="col col-3">
						<p>Team</p>
						<a class="underline" href="#">Our story</a>
					</div>
				</div>
				<div class="credit-wrapper">
					<p>©PerspectiveWork 2020, Designed & Developed by Domenico Vilone</p>
				</div>
			</div>
		</div>
		<div id="hidden" class="book-1-wrapper-hide pos-trs-r pos-trs-l">
			<div class="return-wrapper">
				<p id="back-homepage" class="btn">Back</p>
			</div>
			<div class="book-title-1-wrapper">
				<p class="book-title-1"><span>Issue 01</span><br>Works On Perspective</p>
			</div>
			<div class="book-details-1-wrapper">
				<div class="book-nav-wrapper">
					<img class="left-arr" src="/styles/images/uparrow-icon.svg">
					<p class="book-nav-frac book-nav-pos">1</p>
					<p class="book-nav-frac book-nav-sep">/</p>
					<p class="book-nav-frac book-nav-nb">1</p>
					<img class="right-arr" src="/styles/images/uparrow-icon.svg">
				</div>
				<div class="detail-3-wrapper">
					<div><a href="/book">Read now</a></div>
				</div>
				<div class="img-wrapper">
					<img src="/styles/images/book-1-img-2.jpg">
				</div>
			</div>
			<div class="book-info-1-wrapper">
				<div class="info-1-anchor-wrapper">
					<p class="description-anchor">Description</p>
					<p class="contributions-anchor">Contributions</p>
				</div>
				<p class="description">Works On Perspective is a collection of thoughts, feelings and ideas on the Covid-19 pandemic. In this book, you will find the opinions and experiences of 28 people from multiple backgrounds and of varied age mainly from the Montreal metropolitan area.</p>
				<div class="contributions">
					<p class="field">Project Management</p>
					<p class="ans">Domenico Vilone</p>
					<p class="field">Editing</p>
					<p class="ans">Cynthia Chatmajian</p>
					<p class="field">Participants (28)</p>
					<p class="ans">Aliya,<br>Christiane Carrère,<br>Deimas Rasla,<br>Elba,<br>Elie Kourieh,<br>Gera Niam,<br>Harpal,<br>Laura,<br>Leena Patel,<br>Mégane,<br>Symon Selim,<br>Yasmine Anglade,<br><span>and more participants who wished to remain anonymous</span></p>
				</div>
			</div>
			<div class="book-rnbtn-1-wrapper rn-1">
				<div><a href="/book">Read now</a></div>
			</div>
			<div class="book-rnbtn-1-wrapper rn-2">
				<div><p id="view-lib">View library</p></div>
			</div>
		</div>
		<script type="text/javascript" src="/scripts/script.js">
		</script>
	</body>
</html>
