<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PerspectiveWork</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/styles/images/icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/styles/images/icon.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/styles/images/icon.png">
		<link rel="manifest" href="/styles/images/icon.png">
		<link rel="mask-icon" href="/styles/images/icon.png" color="#d9d9d9">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link href="/styles/styles.css" type="text/css" rel="stylesheet">
		<link href="/styles/book-styles.css" type="text/css" rel="stylesheet">
		<base href="/">
	</head>
	<body>
		<div class="mask"></div>
		<nav>
			<div class="header"><div style="cursor: pointer;"><a href="/views/index.html"><img style="cursor: pointer;" src="/styles/images/image-1.png"></a></div></div>
		</nav>
		<div class="wrapper">
			<div class="info">
				<p style="cursor: pointer;" class="btn">INFO</p>
				<div class="info-wrapper info-hide transform-2">
					<p>PERSPECTIVEWORK IS A PRINT AND DIGITAL PUBLISHING HOUSE BASED IN MONTREAL, QC. OUR GOAL IS TO BROADEN PEOPLE’S PERSPECTIVE ON DIFFERENT TOPICS THROUGH THE USE OF IMAGES AND WRITINGS.</p>
					<a target="_blank" href="https://www.instagram.com/perspectivework/">instagram</a>
					<p>FONT NEUE MONTREAL BY <a target="_blank" href="https://pangrampangram.com/">pangrampangram</a></p>
				</div>
			</div>
			<div class="frame">
				<img src="/styles/images/image-2.png">
			</div>
			<div class="conversation">
				<div><p>Works On Perspective</p></div>
				<div><p>Works On Perspective is an idea for an online and physical book focusing on the current COVID-19 pandemic. The goal is to gather people’s perspectives, ideas and thoughts on the ongoing pandemic and its effects. Anyone is welcome to contribute to the making of this book. <br><br>
					
					More information is available when viewing the questionnaire.
					</p></div>
				<div class=""><a style="cursor: pointer;" href="/views/questionnaire.html">Join the conversation</a></div>
			</div>
			<div class="copyright"><p><span>© 2020 PerspectiveWork</span></p></div>
		</div>

		<script type="text/javascript" src="/scripts/script.js">
		</script>
	</body>
</html>
