<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PerspectiveWork</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/site.webmanifest">
		<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link href="/styles/styles.css" type="text/css" rel="stylesheet">
		<link href="/styles/book-styles.css" type="text/css" rel="stylesheet">
		<base href="/">
	</head>
	<body>
		<div class="mask"></div>
		<div class="wrapper">
			<div class="frame transform-1 no-transform">
				<img src="/styles/images/WOP-ComingSoon-v3.png">
				<p><span>WORKS ON PERSPECTIVE</span><br>SUMMER 2020</p>
			</div>
			<div class="conversation">
				<div><p>Works On Perspective</p></div>
				<div><p>You can participate in the making of this book by simply sharing your thoughts, opinions and impressions on covid-19. A questionnaire will guide you through the possible themes that emerge from this crisis. Join the conversation.</p></div>
				<div><a href="#">Join the conversation</a></div>
			</div>
		</div>

		<script type="text/javascript" src="/scripts/app.js">
		</script>
	</body>
</html>
