<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PerspectiveWork</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/styles/images/icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/styles/images/icon.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/styles/images/icon.png">
		<link rel="manifest" href="/styles/images/icon.png">
		<link rel="mask-icon" href="/styles/images/icon.png" color="#d9d9d9">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link href="/styles/styles.css" type="text/css" rel="stylesheet">
		<link href="/styles/book-styles.css" type="text/css" rel="stylesheet">
		<base href="/">
	</head>
	<body>
		<div class="mask"></div>
		<nav class="navigation-q">
			<div class="header"><div style="cursor: pointer;"><a href="/views/index.html"><img style="cursor: pointer;" src="/styles/images/image-1.png"></a></div></div>
		</nav>
		<div class="wrapper">
			<div class="q-wrapper">
				<div class="description">
					<p style="text-transform: uppercase;">Works On Perspective Questionnaire</p>
					<p>Works On Perspective est un livre numérique et papier qui porte sur la pandémie de COVID-19. Le but est de recueillir les pensées, les idées et les états d’âmes d’un grand nombre de personnes concernant cette pandémie et ses effets. Chaque personne peut contribuer à ce livre en répondant à une ou plusieurs questions de ce Google Form. Works On Perspective sera disponible au cours de l’été 2020 sur notre site web. Les copies papier seront également disponibles sur demande.</p>
					<p>Pour ceux qui souhaitent rester anonymes, notez que Google Forms n’enregistre pas votre identité. Ceci étant dit, il n’y aura aucun moyen pour nous de savoir à qui appartiennent les réponses. Aussi, pour ceux qui le désirent, il est possible de partager votre nom dans la première partie de ce questionnaire.</p>
					<p>Pour les personnes qui décident de participer à ce projet, nous vous remercions car sans vous, ce recueil n’aurait jamais vu le jour.</p>
					<p>Sincerement, l’équipe de PerspectiveWork.</p>
				</div>
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdLdOG4OY1w1ZKLicprW5pPadLuc46etMa0WrirfehfHIS4kQ/viewform?embedded=true" width="640" height="2200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
			</div>
		</div>

		<script type="text/javascript" src="/scripts/script.js">
		</script>
	</body>
</html>
