<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PerspectiveWork</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/styles/images/icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/styles/images/icon.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/styles/images/icon.png">
		<link rel="manifest" href="/styles/images/icon.png">
		<link rel="mask-icon" href="/styles/images/icon.png" color="#d9d9d9">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link href="/styles/styles.css" type="text/css" rel="stylesheet">
		<link href="/styles/book-styles.css" type="text/css" rel="stylesheet">
		<base href="/">
	</head>
	<body>
		<div class="mask"></div>
		<nav class="navigation-q">
			<div class="header"><div style="cursor: pointer;"><a href="/views/index.html"><img style="cursor: pointer;" src="/styles/images/image-1.png"></a></div></div>
		</nav>
		<div class="wrapper">
			<div class="q-wrapper">
				<div class="description">
					<p style="text-transform: uppercase;">Works On Perspective Questionnaire</p>
					<p>Works On Perspective is an idea for an online and physical book focusing on the current COVID-19 pandemic. The goal is to gather people’s perspectives, ideas and thoughts on the ongoing pandemic and its effects. Anyone is welcome to contribute by answering one, or all questions presented in this Google Form.  Works On Perspective will be available for free sometime in the summer of 2020 on our website. Physical copies will be available on demand.</p>
					<p>For those who wish to remain anonymous, Google Forms does not register your identity in any way. Therefore, there will be no way for us to identify your answers to the questions. As for those who do not desire to remain anonymous, you are welcome to provide your full name in the first question of this form, thereby granting us full consent to mention your name in the book.</p>
					<p>We would like to thank those who participated in advance, as this book would not be possible without your contribution. </p>
					<p>Thank you!</p>
				</div>
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdvmQh0znoFo8KGxetTWOMMs8FHxsBeohSj3a93KkIdRad_jQ/viewform?embedded=true" width="640" height="2000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
			</div>
		</div>

		<script type="text/javascript" src="/scripts/script.js">
		</script>
	</body>
</html>
