<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PerspectiveWork</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/site.webmanifest">
		<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link href="/styles/styles.css" type="text/css" rel="stylesheet">
		<link href="/styles/book-styles.css" type="text/css" rel="stylesheet">
		<base href="/">
	</head>
	<body>
		<div class="mask"></div>
		<nav>
			<div class="header"><div style="cursor: pointer;"><a href="/views/index.html"><img style="cursor: pointer;" src="/styles/images/image-1.png"></a></div></div>
		</nav>
		<div class="wrapper">
			<div class="q-wrapper">
				<div class="description">
					<p style="text-transform: uppercase;">Works On Perspective Questionnaire</p>
					<p>Works On Perspective est un livre numérique et papier basé sur la pandémie actuelle. Le but est de recueillir les pensées, les idées et les perspectives de nombreuses personnes concernant la crise de COVID-19. Chaque personne peut contribuer à ce livre en répondant à une ou plusieurs questions de ce Google Form. Works On Perspective sera disponible au cours de l’été 2020 sur notre site Internet perspective-work.com. Les copies papier seront également disponibles sur demande.</p>
					<p>Pour ceux qui souhaitent rester anonymes, il est bon de savoir que Google Forms n’enregistre pas votre identité. Sur ce, il n’y aura aucun moyen pour nous de savoir à qui appartiennent les réponses. Cependant, pour ceux qui aimeraient partager leurs identités, il est possible de partager votre nom dans la première question de ce questionnaire.</p>
					<p>Pour les personnes qui décident de participer à ce projet, nous vous remercions, car, sans vous, ce livre ne pourrait être réalisé.</p>
					<p>Merci!</p>
				</div>
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdLdOG4OY1w1ZKLicprW5pPadLuc46etMa0WrirfehfHIS4kQ/viewform?embedded=true" width="640" height="1435" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
			</div>
		</div>

		<script type="text/javascript" src="/scripts/script.js">
		</script>
	</body>
</html>
