html {
	margin: 0;
	width: 100%;
	height: 100%;

	overflow: auto;
	overflow-x: hidden;

	font-family: aktiv-grotesk, sans-serif;
	font-family: Px Grotesk, sans-serif;
	font-weight: 400;
	font-style: normal;
	

	text-decoration: none;

	background: var(--white);

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

}
body {
	margin: 0;
	width: 100%;
	height: 100%;

	overflow: auto;
	overflow-x: hidden;

	font-size: 16px;
}

:root {
	/* Shadows */
	--soft-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	--white-blur-shadow: 0px 0px 40px 35px rgba(255,255,255,1);
	--grey-blur-shadow: 0px 0px 16px -1px rgba(130,130,130,1);

	/* Borders */
	--border-black: 1px solid #171717;
	--border-white: 1px solid #FFFFFF;
	--border-medium-grey: 1px solid #989898;
	--inset-grey-border: inset 0px 0px 16px -1px rgba(130,130,130,1);

	/* Colors */
	--white: #ffffff;
	--black: #171717;
	--light-grey: #D9D9D9;
	--medium-grey: #989898;
	--dark-grey:#626262;
    --green: #20694D;
    --green-hover: #0e4731;
    --blue: #2C69DE;
    --blue-hover: #2e59ab;
	--red:#C44332;


    /* Font Sizes */
    --fs-dom: 2.5em;
	--fs-large: 1.6em;
	--fs-regular: 1.1em;
	--fs-small: 1em;
    --fs-tiny: 0.8em;
	--fs-regular-mobile: 3.2vw;
	--fs-small-mobile: 1.5vw;

	/* Border Radius */
	--radius-10: 12px;

	/* Margin and Padding */
    --margin-next: 6px;
    --margin-next-medium: 12px;
    --margin-next-large: 22px;
}


/* 
*************
* Transform *
*************
*/


/* 
=====
Tags
-----
*/



/* 
===============
Utility Classes
---------------
*/


/* 
============
Main classes
------------
*/
.book-1-wrapper {
    width: calc(100% - 24px);

    padding: 6px 12px;

    font-size: var(--fs-regular);

    background: var(--light-grey);
}
.book-1-wrapper > div {
    width: 100%;

    padding: 16px 0;
}

.return-wrapper {
    display: flex;
    flex-wrap: nowrap;
}
.return-wrapper img {
    height: 20px;
    width: auto;

    margin-right: var(--margin-next);

    transform: rotate(90deg);
}

/* 
**************
Book Title & Nav 
**************
*/
.book-title-1-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}
.book-title-1-wrapper .book-title-1 {
    font-size: var(--fs-dom);

    margin-right: var(--margin-next-large);
}
.book-title-1-wrapper .book-nav-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.book-nav-wrapper img {
    width: 12px;
    height: auto;

    margin-right: var(--margin-next-medium);
}
.book-nav-wrapper img:hover {
    opacity: 0.5;

    cursor: pointer;
}
.book-nav-wrapper img.left-arr {
    transform: rotate(-135deg);
}
.book-nav-wrapper img.right-arr {
    transform: rotate(45deg);
}
.book-nav-wrapper p.book-nav-pos, .book-nav-wrapper p.book-nav-sep {
    font-size: var(--fs-small);
    margin-right: var(--margin-next);
}
.book-nav-wrapper p.book-nav-nb {
    font-size: var(--fs-small);
    margin-right: var(--margin-next-medium);
}

/* 
**************
Book Details 
**************
*/
.book-details-1-wrapper {
    display: flex;
    flex-wrap: nowrap;
}
.book-details-1-wrapper > img {
    height: 280px;
    width: auto;

    margin-right: var(--margin-next-large);

    border-radius: 12px;
}
.book-details-1-wrapper .book-details-1-sub-wrapper {
    width: 220px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.book-details-1-sub-wrapper > div {
    width: 220px;

    margin-bottom: var(--margin-next);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: var(--margin-next-large);
}
.book-details-1-sub-wrapper .detail-1-wrapper, .book-details-1-sub-wrapper .detail-2-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.book-details-1-sub-wrapper .detail-1-wrapper div, .book-details-1-sub-wrapper .detail-2-wrapper div {
    width: 12px;
    height: 12px;

    margin-right: var(--margin-next);

    border-radius: 999px;
}
.book-details-1-sub-wrapper .detail-1-wrapper div {
    background: var(--blue);
}
.book-details-1-sub-wrapper .detail-2-wrapper div {
    background: var(--red);
}
.book-details-1-sub-wrapper .detail-1-wrapper p, .book-details-1-sub-wrapper .detail-2-wrapper p {
    line-height: 0.8em;
}
.book-details-1-sub-wrapper .detail-3-wrapper div {
    display: flex;
    align-items: center;

    padding: 4px 12px;

    border-radius: 999px;

    background: var(--blue);

    color: var(--white);

    cursor: pointer;
}
.book-details-1-sub-wrapper .detail-3-wrapper div:hover {
    background: var(--blue-hover);
}

/* 
**************
Book Info 
**************
*/
.book-info-1-wrapper {
    display: grid;
	grid-template-columns: 50% 44px 50%;
	grid-template-rows: 40px auto;
	grid-template-areas: 
    "anchor-wrapper anchor-wrapper anchor-wrapper"
    "description . contributions";
}
.book-info-1-wrapper .info-1-anchor-wrapper {
    grid-area: anchor-wrapper;

    width: calc(100% - 44px);

    align-self: end;

    display: grid;
	grid-template-columns: 50% 44px 50%;
	grid-template-rows: 40px;
	grid-template-areas: 
    "description . contributions";

    border-bottom: var(--border-medium-grey);

    color: var(--medium-grey);
}
.book-info-1-wrapper .info-1-anchor-wrapper > p {
    margin-bottom: var(--margin-next-large);
}
.book-info-1-wrapper .info-1-anchor-wrapper .description-anchor {
    grid-area: description;
}
.book-info-1-wrapper .info-1-anchor-wrapper .contributions-anchor {
    grid-area: contributions;
}
.book-info-1-wrapper .description {
    grid-area: description;
    margin-top: var(--margin-next-large);
}
.book-info-1-wrapper .contributions {
    grid-area: contributions;
    margin-top: var(--margin-next-large);
}
.book-info-1-wrapper .contributions p.field {
    color: var(--medium-grey);
    margin-bottom: var(--margin-next);
}
.book-info-1-wrapper .contributions p.ans {
    margin-bottom: var(--margin-next-large);
}
.book-info-1-wrapper .contributions p span {
    font-size: var(--fs-tiny);
}

/* 
**************
Book Image 
**************
*/
.book-image-1-wrapper {
    width: 100%;
    height: 100vh;

    background: url(/styles/images/book-1-image.jpg);
    background-size: cover;
    background-position: center;

    border-radius: 12px;
}

/* 
**************
Book Read Btn 
**************
*/
.book-rnbtn-1-wrapper {
    width: 100%;
}
.book-rnbtn-1-wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--fs-large);
}
.book-rnbtn-1-wrapper div a {
    padding: 24px 98px;

    border-radius: 999px;

    background: var(--green);
    color: var(--white);
}
.book-rnbtn-1-wrapper div a:hover {
    background: var(--green-hover);
}


/* 
%%%%%%%%%%%%%%%%%%
% Media Querries %
%%%%%%%%%%%%%%%%%%
*/
@media screen and (max-width: 870px) {


}


