html {
	margin: 0;
	width: 100%;
	height: 100%;

	overflow: auto;
	overflow-x: hidden;

	font-family: aktiv-grotesk, sans-serif;
	font-family: Px Grotesk, sans-serif;
	font-weight: 400;
	font-style: normal;
	

	text-decoration: none;

	background: var(--white);

	scroll-behavior: smooth;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

}
body {
	margin: 0;
	width: 100%;
	height: 100%;

	overflow: auto;
	overflow-x: hidden;

	font-size: 16px;
}
@font-face {
	font-family: "Px Grotesk";
	src: url("/styles/fonts/Px\ Grotesk\ Regular.woff2") format("woff2"),
		 url("/styles/fonts/Px\ Grotesk\ Regular.woff") format("woff");
}

:root {
	/* Shadows */
	--soft-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	--white-blur-shadow: 0px 0px 40px 35px rgba(255,255,255,1);
	--grey-blur-shadow: 0px 0px 16px -1px rgba(130,130,130,1);

	/* Borders */
	--border-black: 1px solid #171717;
	--border-white: 1px solid #FFFFFF;
	--border-medium-grey: 1px solid #989898;
	--inset-grey-border: inset 0px 0px 16px -1px rgba(130,130,130,1);

	/* Colors */
	--white: #ffffff;
	--black: #171717;
	--beige: #EDEAE5;
	--light-grey: #D9D9D9;
	--medium-grey: #989898;
	--dark-grey:#626262;
	--green: #20694D;
	--green-dark: #0e4731;
	--blue: #2C69DE;
	--blue-navy: #153272;
	--blue-navy-hover: #0c2762;
	--blue-hover: #2e59ab;
	--red:#C44332;


	/* Font Sizes */
	--fs-dom: 2.5em;
	--fs-dom-2: 10.8vw;
	--fs-large: 1.6em;
	--fs-regular: 1.1em;
	--fs-small: 1em;
	--fs-tiny: 0.8em;
	--fs-large-mobile: 1.3em;
	--fs-regular-mobile: 0.6em;

	/* Margin and Padding */
	--margin-next: 6px;
	--margin-next-medium: 12px;
	--margin-next-large: 22px;
}


.wrapper {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
}

/* 
*************
* Animation *
*************
*/
.pos-trs-r {
	animation-name: slideFromRight;
	animation-duration: 2s;
}
.pos-trs-l {
	animation-name: slideFromLeft;
	animation-duration: 2s;
}

/* 
*******************
ANIMATION KEYFRAMES
*******************
*/
@keyframes slideFromRight {
	0% {
	  transform: translateX(150%);
	}
	100% {
	  transform: translateX(0);
	}
}
@keyframes slideFromLeft {
	0% {
	  transform: translateX(-150%);
	}
	100% {
	  transform: translateX(0);
	}
}


/* 
=======
General 
=======
*/
a {
	text-decoration: none;
}
a:hover {
	text-transform: underline;
}

p {
	margin: 0;
}

/* 
===============
Utility Classes
===============
*/
.btn {
	text-decoration: underline;
	cursor: pointer;
}
.btn:hover {
	color: var(--medium-grey);
	cursor: pointer;
}

.brand:hover {
	color: var(--blue);
	cursor: pointer;
}

.underline:hover {
	text-decoration: underline;
}
.hidden, #hidden {
	display: none;
	visibility: hidden;
}


/* 
================
= Main Wrapper =
================
*/
div.main-wrapper {


	width: 100%;

	font-size: var(--fs-regular);

	background: var(--light-grey);
}

/* 
==========
= Header =
==========
*/
div.main-title-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: -24px;

	font-size: var(--fs-dom-2);
    font-family: ivypresto-headline, serif;
    font-weight: 400;
	font-style: normal;
}
div.header-wrapper {
	height: auto;
	width: calc(100% - 24px);

	padding: var(--margin-next-medium);

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	text-align: left;

	font-size: var(--fs-dom);
}
div.header-wrapper div.description {
	width: 100%;

	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
}
div.header-wrapper div.description p img, div.header-wrapper div.description p a img {
	height: 16px;
	width: auto;

	transform: rotate(0deg);
	margin-left: var(--margin-next);
}
div.header-wrapper div.description img {
	width: 20px;
	height: auto;

	margin-right: var(--margin-next);

	transform: rotate(-90deg);
}
div.header-wrapper div.description a {
	color: var(--black);
}
div.header-wrapper div.description a:hover {
	color: var(--medium-grey);
}

div.header-wrapper div.how-to-publish {
	width: 20%;

	padding-right: 5%;
}


/* 
==========
= Images =
==========
*/
div.image-wrapper {
	height: calc(104vh - 140px);

	padding: 70px 0 70px 0;
	margin: 70px 0;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	background: var(--black);
}
div.image-wrapper .image-tags-wrapper {
	width: 50%;
	
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: var(--margin-next-medium);
}
div.image-wrapper .image-tags-wrapper div {
	max-height: 40px;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 9px;

	cursor: auto;
}
div.image-wrapper .image-tags-wrapper div p {
	cursor: auto;
}
.image-tags-wrapper div:not(:last-child) {
	margin: 0 var(--margin-next-medium) var(--margin-next-medium) 0;
}

.image-tags-wrapper div.tag:last-child {
	margin: 0 0 var(--margin-next-medium) 0;
}
.image-tags-wrapper div.tag p {
	padding: 0 var(--margin-next-medium);

	color: var(--white);

	font-size: var(--fs-tiny);
}
.image-tags-wrapper div:first-child {
	background: var(--green);
}
.image-tags-wrapper div.tag-3, .image-tags-wrapper div.tag-4 {
	background: var(--blue-navy);
}
div.image-wrapper .img-sub-wrapper {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
div.image-wrapper .img-sub-wrapper img {
	height: 65vh;
	min-height: 300px;
	width: auto;
}
div.image-wrapper .img-sub-wrapper img {
	cursor: pointer;
}
div.image-wrapper .pres-book-btn-wrapper {
	width: 100%;

	padding: var(--margin-next-medium) 0;

	display: flex;
	justify-content: center;
	align-items: center;
}
.pres-book-btn-wrapper div {
	width: 100%;

	padding-top: var(--margin-next-medium);

	display: flex;
	justify-content: center;
	align-items: center;
}
.pres-book-btn-wrapper div a {
	padding: 12px 36px;

	font-size: var(--fs-regular);

	color: var(--black);

	background: var(--white);

	border-radius: 1000px;
}
.pres-book-btn-wrapper div a:hover {
	background: var(--light-grey);
}


/* 
===========
= Library =
===========
*/
/* 
--- header ---
*/
div.lib-header {
	width: calc(100% - 24px);

	display: flex;
	justify-content: space-between;

	padding: 0 12px;

	font-size: var(--fs-dom);
}
div.lib-header > p {
	grid-area: title-library;
}
div.lib-header-wrapper {
	position: sticky;
	
	top: 0;

	background: var(--light-grey);
}

div.lib-header div.stats {
	grid-area: stats;

	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;

	font-size: var(--fs-tiny);
}
div.lib-header div.stats div {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
} 
div.stats div.stat-1 {
	margin-right: var(--margin-next-large);
}
div.stats div.stat-1 .bullet, div.stats div.stat-2 .bullet {
	width: 10px;
	height: 10px;

	margin-right: var(--margin-next);

	border-radius: 999px;
}
div.stats div.stat-1 .bullet {
	background: var(--black);
}
div.stats div.stat-2 .bullet {
	background: var(--black);
}
div.lib-header-wrapper .lib-anchor {
	display: grid;
	grid-template-columns: 12px 30% 30% 20% calc(20% - 24px) 12px;
	grid-template-rows: 50px;
	grid-template-areas: 
	". title-anchor author-anchor date-anchor subject-anchor .";

	border-bottom: var(--border-black);

	margin: var(--margin-next-large) 0;

	font-size: var(--fs-regular);
}
div.lib-header-wrapper .lib-anchor > p {
	align-self: center;

	margin-bottom: 6px;
}
.lib-anchor .title-anchor {
	grid-area: title-anchor;
}
.lib-anchor .author-anchor {
	grid-area: author-anchor;
}
.lib-anchor .date-anchor {
	grid-area: date-anchor;
}
.lib-anchor .subject-anchor {
	grid-area: subject-anchor;

	text-align: end;
}

/* 
--- Library Main ---
*/
div.library-wrapper {
	margin-top: -22px;
}
.lib-row-wrapper {
	font-size: var(--fs-small);
}
div.lib-row-wrapper .lib-row-1-show-hashtag {
	display: grid;
	grid-template-columns: 12px 30% 30% 20% calc(20% - 24px) 12px;
	grid-template-rows: 120px 70px 70px;
	grid-template-areas: 
	". title-1 author-1 date-1 tag-1 ."
	". hashtag-1 hashtag-1 hashtag-1 hashtag-1 ."
	". more-btn-1 more-btn-1 more-btn-1 more-btn-1 more-btn-1";

	border-bottom: var(--border-black);

	padding: 2px 0;
}
div.lib-row-wrapper .lib-row-1-hide-hashtag {
	display: grid;
	grid-template-columns: 12px 30% 30% 20% calc(20% - 24px) 12px;
	grid-template-rows: 120px 0px 70px;
	grid-template-areas: 
	". title-1 author-1 date-1 tag-1 ."
	". hashtag-1 hashtag-1 hashtag-1 hashtag-1 ."
	". more-btn-1 more-btn-1 more-btn-1 more-btn-1 more-btn-1";

	border-bottom: var(--border-black);

	padding: 2px 0;
}
div.lib-row-wrapper .lib-row-1-show-hashtag > p, div.lib-row-wrapper .lib-row-1-hide-hashtag > p {
	align-self: center;
}
.lib-row-1:hover > p, .lib-row-2:hover > p, .lib-row-3:hover > p {
	color: var(--medium-grey);
}
.new-wrapper-1 {
	position: relative;
	top: 40px;

	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	align-self: end;
}
.new-wrapper-1 div {
	width: 60px;
	padding: 4px 0;

	display: flex;
	justify-content: center;

	margin-right: var(--margin-next);

	background: var(--green);
	color: white;

	border-radius: 6px;
}
.title-1 {
	grid-area: title-1;
}
.author-1 {
	grid-area: author-1;
}
.date-1 {
	grid-area: date-1;
}
.tag-1 {
	grid-area: tag-1;

	text-align: end;
}
.more-btn-1, .more-btn-2, .more-btn-3 {
	grid-area: more-btn-1;

	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.more-btn-1 {
	width: 90px;

	max-height: 40px;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: var(--fs-regular);

	border-radius: 1000px;

	align-self: center;

	cursor: pointer;

	background: var(--white);
}
.more-btn-1:hover {
	cursor: pointer;
}
.more-btn-2, .more-btn-3 {
	width: 160px;

	align-self: center;
}
.more-btn-1 p {
	padding: var(--margin-next) var(--margin-next-medium);
}
.hashtag-wrapper-1 {
	grid-area: hashtag-1;
	display: flex;
	flex-wrap: nowrap;
}
.hashtag-wrapper-1 div {
	max-height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: var(--margin-next);

	background: var(--blue-navy);

	color: var(--white);

	border-radius: 9px;

	cursor: auto;
}
.hashtag-wrapper-1 div p {
	margin: 4px 12px;

	font-size: var(--fs-tiny);

	cursor: auto;
}

.lib-row-wrapper .lib-row-2 {
	display: grid;
	grid-template-columns: 12px 30% 30% 20% calc(20% - 24px) 12px;
	grid-template-rows: 120px 60px;
	grid-template-areas: 
	". title-2 author-2 date-2 . ."
	". more-btn-2 more-btn-2 more-btn-2 more-btn-2 more-btn-2";

	border-bottom: var(--border-black);

	padding: 2px 0;

}
.lib-row-wrapper .lib-row-2 > p {
	align-self: center;
}
.lib-row-2 .title-2 {
	grid-area: title-2;
}
.lib-row-2 .author-2 {
	grid-area: author-2;
}
.lib-row-2 .date-2 {
	grid-area: date-2;
}
.lib-row-2 .more-btn-2 {
	grid-area: more-btn-2;

	border: var(--border-black);

	border-radius: 1000px;
}

.lib-row-wrapper .lib-row-3 {
	display: grid;
	grid-template-columns: 12px 30% 30% 20% calc(20% - 24px) 12px;
	grid-template-rows: 120px 60px;
	grid-template-areas: 
	". title-3 author-3 date-3 . ."
	". more-btn-3 more-btn-3 more-btn-3 more-btn-3 more-btn-3";

	border-bottom: var(--border-black);

	padding: 2px 0;

}
.lib-row-3 .more-btn-3 {
	grid-area: more-btn-3;

	border: var(--border-black);

	border-radius: 1000px;
}
.lib-row-2 .more-btn-2, .lib-row-3 .more-btn-3 {
	cursor: default;
}
.lib-row-wrapper .lib-row-3 > p {
	align-self: center;
}
.lib-row-3 .title-3 {
	grid-area: title-3;
}
.lib-row-3 .author-3 {
	grid-area: author-3;
}
.lib-row-3 .date-3 {
	grid-area: date-3;
}

.lib-row-wrapper .lib-row-final {
	height: 100px;

	display: grid;
	grid-template-columns: 12px 30% 30% 20% 10% calc(10% - 24px) 12px;
	grid-template-rows: var(--height-lib-row);
	grid-template-areas: 
	". publish-now publish-now publish-now publish-now publish-now .";

	padding: 2px 0;

}
.lib-row-wrapper .lib-row-final > p, .lib-row-wrapper .lib-row-final > img {
	align-self: center;
}
.lib-row-final .publish-now {
	grid-area: publish-now;

	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.publish-now a {
	margin-right: var(--margin-next);

	color: var(--black);
}
.publish-now a:hover {
	color: var(--medium-grey);
}
.publish-now img {
	width: 20px;
	height: auto;

	transform: rotate(-90deg);
}

/* 
===================
 = How it works ===
===================
*/
div.how-it-works-wrapper {
	position: absolute;
	top: 0;

	min-height: 100vh;

	background: var(--light-grey);
}
div.how-it-works-wrapper .gi-header-wrapper {
	height: 20vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.gi-header-wrapper > p {
	width: 100%;

	text-align: center;

	margin-bottom: var(--margin-next-medium);

	font-size: var(--fs-dom);
}
.got-it-btn {
	max-height: 40px;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	border: var(--border-black);

	font-size: var(--fs-regular);

	border-radius: 1000px;
}
.got-it-btn:hover {
	cursor: pointer;

	background: var(--black);
	color: var(--white);
}
.gi-header-wrapper div p {
	padding: 0 36px;
}
div.how-it-works-wrapper .steps-wrapper {
	height: 55vh;

	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: nowrap;
}
.steps-wrapper .step-1-wrapper, .steps-wrapper .step-2-wrapper {
	width: 40%;
	height: 70%;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;

	margin-top: var(--margin-next-large);
}
.steps-wrapper .step-1-wrapper {
	margin-right: var(--margin-next-large);
}
.step-1-wrapper > div, .step-2-wrapper > div {
	height: 30px;
	width: 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: var(--margin-next-medium);

	background: var(--black);

	border-radius: 100%;
}
.step-1-wrapper div p, .step-2-wrapper div p {
	color: var(--white);
}
.step-1-wrapper > p, .step-2-wrapper > p {
	width: 100%;

	text-align: start;

	margin-bottom: var(--margin-next-medium);
}
.step-1-wrapper > img {
	height: 220px;
	width: auto;

	border-radius: 6px;
}
div.how-it-works-wrapper .btn-action-wrapper {
	height: calc(25vh - 24px);
	width: 100%;

	padding: var(--margin-next-medium) 0;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
}
.btn-action-wrapper .big-btn {
	width: calc(100% - 24px);
	height: 70px;
	max-height: 70px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 1000px;

	font-size: var(--fs-large);
}
.btn-action-wrapper .big-btn:hover {
	cursor: pointer;
}
.btn-action-wrapper .submit-btn {
	margin-bottom: var(--margin-next-medium);

	color: var(--white);
	
	background: var(--blue-navy);
}
.btn-action-wrapper .submit-btn a {
	color: var(--white)
}
.btn-action-wrapper .submit-btn:hover {
	background: var(--blue-navy-hover);
}

div.step-2-wrapper .email-img-wrapper {
	height: auto;
	width: 300px;

	display: flex;
	flex-wrap: wrap;

	background: var(--white);

	border-radius: 6px;
}
.email-img-wrapper .top-bar {
	position: relative;
	top: -2px;

	height: 20px;
	width: 100%;

	background: var(--medium-grey);

	border-radius: 6px 6px 0 0;
}
.email-img-wrapper .f  {
	width: 100%;

	padding: var(--margin-next) 0 var(--margin-next) 12px;

	color: var(--medium-grey);

	font-size: var(--fs-tiny);

	border-bottom: 1px solid var(--light-grey);
}
.email-img-wrapper .to span, .email-img-wrapper .subject span {
	color: var(--blue-hover);
}
.email-img-wrapper .attatch span {
	color: var(--black);
}
.email-img-wrapper .msg {
	width: 100%;

	padding: var(--margin-next) 0 var(--margin-next) 12px;

	font-size: var(--fs-tiny);

	color: var(--black);

	line-height: var(--fs-large);

	text-align: left;
}


/* 
=============
 = Footer ===
=============
*/
.footer-wrapper {
	width: calc(100% - 24px);
	height: calc(50vh - 120px);

	padding: 60px 12px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;


	font-size: var(--fs-regular);

	background: var(--black);
}
.col-wrapper {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.col {
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.col p, .col a {
	width: 100%;

	text-align: center;
}
.col p {
	color: var(--medium-grey);
}
.col a {
	color: var(--white);
}
.col a:hover {

}
.credit-wrapper {
	align-self: flex-end;

	width: 100%;

	display: flex;
	justify-content: center;

	color: var(--white);
}











/* 
%%%%%%%%%%%%%%%%%%
% Media Querries %
%%%%%%%%%%%%%%%%%%
*/
@media screen and (max-width: 870px) {
	/* 
	==========
	= Header =
	==========
	*/
	div.main-title-wrapper {
		margin-top: 0;

		font-size: 3em;
		text-align: center;
		
		padding: 0 0 var(--margin-next) var(--margin-next)  ;
	}
	div.header-wrapper {
		justify-content: flex-start;
	}
	div.header-wrapper div.description {
		margin-top: 0;

		text-align: start;

		font-size: var(--fs-regular-mobile);
	}


	/* 
	=========
	= Image =
	=========
	*/
	div.image-wrapper {
		height: auto;
	}
	div.image-wrapper img:nth-child(1) {
		width: calc(100% - 24px);
		height: auto;

		border-radius: 0;
	}
	 
	div.image-wrapper .image-tags-wrapper {
		width: calc(100% - 24px);

		justify-content: flex-start;

		flex-wrap: wrap;

		border-bottom: var(--border-medium-grey);
	}

	/* 
	===========
	= Library =
	===========
	*/
	/* 
	--- header ---
	*/
	div.lib-header-wrapper {

	}
	div.lib-header {
		padding: 12px;
	}
	div.lib-header-wrapper .lib-anchor {
		grid-template-columns: 12px calc(50% - 12px) calc(50% - 12px) 12px;
		grid-template-areas: ". title-anchor author-anchor .";
		grid-template-rows: 70px;
	}
	.author-anchor {
		text-align: end;
	}
	.date-anchor, .subject-anchor {
		display: none;
		visibility: hidden;
	}

	div.lib-row-wrapper .lib-row-1-show-hashtag, div.lib-row-wrapper .lib-row-1-hide-hashtag {
		grid-template-columns: 12px calc(50% - 12px) calc(50% - 12px) 12px;
		grid-template-rows: 120px 120px 100px;
		grid-template-areas: 
		". title-1 author-1 ."
		". hashtag-1 hashtag-1 hashtag-1"
		". more-btn-1 more-btn-1 more-btn-1";
	}
	div.lib-row-wrapper .lib-row-1-hide-hashtag {
		grid-template-columns: 12px calc(50% - 12px) calc(50% - 12px) 12px;
		grid-template-rows: 120px 0px 70px;
		grid-template-areas: 
		". title-1 author-1 ."
		". hashtag-1 hashtag-1 hashtag-1"
		". more-btn-1 more-btn-1 more-btn-1";
	}
	.author-1, .author-2, .author-3 {
		text-align: end;
	}
	.date-1, .tag-1, .date-2, .date-3 {
		display: none;
		visibility: hidden;
	}
	div.lib-row-wrapper .lib-row-2 {
		grid-template-columns: 12px calc(50% - 12px) calc(50% - 12px) 12px;
		grid-template-rows: 120px 70px;
		grid-template-areas: 
		". title-2 author-2 ."
		". more-btn-2 more-btn-2 more-btn-2";
	}
	div.lib-row-wrapper .lib-row-3 {
		grid-template-columns: 12px calc(50% - 12px) calc(50% - 12px) 12px;
		grid-template-rows: 120px 70px;
		grid-template-areas: 
		". title-3 author-3 ."
		". more-btn-3 more-btn-3 more-btn-3";
	}

	/* 
	==========
	= Footer =
	==========
	*/
	.footer-wrapper {
		position: sticky;
		top: 0;

		height: calc(100vh - 24px);

		padding: 12px 12px 12px 12px;

	}
	.col-wrapper {
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.col {
		font-size: var(--fs-large-mobile);
	}
	.col-1, .col-2 {
		margin-bottom: var(--margin-next-large);
	}


	/* 
	================
	= How it works =
	================
	*/
	div.how-it-works-wrapper {
		width: calc(100vw - 24px);
		min-height: auto;

		padding: var(--margin-next-medium);
	}
	div.how-it-works-wrapper .gi-header-wrapper {
		height: auto;

		padding: var(--margin-next-medium) 0;
	}
	div.how-it-works-wrapper .steps-wrapper {
		height: auto;

		width: calc(100% - 24px);

		padding: var(--margin-next-medium);

		flex-wrap: wrap;
	}
	.steps-wrapper .step-1-wrapper, .steps-wrapper .step-2-wrapper {
		width: 100%;
	}
	div.how-it-works-wrapper .btn-action-wrapper {
		height: auto;

		padding: var(--margin-next-medium) 0;
	}


}


