html {
	margin: 0;
	width: 100%;
	height: 100%;

	overflow: auto;
	overflow-x: hidden;

	font-family: aktiv-grotesk, sans-serif;
	font-family: Px Grotesk, sans-serif;
	font-weight: 400;
	font-style: normal;
	

	text-decoration: none;

	background: var(--white);

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

}
body {
	margin: 0;
	width: 100%;
	height: 100%;

	overflow: auto;
	overflow-x: hidden;

	font-size: 16px;
}

:root {
	/* Shadows */
	--soft-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	--white-blur-shadow: 0px 0px 40px 35px rgba(255,255,255,1);
	--grey-blur-shadow: 0px 0px 16px -1px rgba(130,130,130,1);

	/* Borders */
	--border-black: 1px solid #171717;
	--border-white: 1px solid #FFFFFF;
	--border-medium-grey: 1px solid #989898;
	--inset-grey-border: inset 0px 0px 16px -1px rgba(130,130,130,1);

	/* Colors */
	--white: #ffffff;
	--black: #171717;
	--light-grey: #D9D9D9;
	--medium-grey: #989898;
	--dark-grey:#626262;
	--green: #20694D;
	--blue: #2C69DE;
	--blue-hover: #2e59ab;
	--red:#C44332;


	/* Font Sizes */
	--fs-dom: 2.5em;
	--fs-large: 1.6em;
	--fs-regular: 1.1em;
	--fs-small: 1em;
	--fs-tiny: 0.8em;
	--fs-regular-mobile: 3.2vw;
	--fs-small-mobile: 1.5vw;

	/* Border Radius */
	--radius-10: 12px;

	/* Margin and Padding */
	--margin-next: 6px;
	--margin-next-medium: 12px;
	--margin-next-large: 22px;
}


.wrapper {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
}

/* 
*************
* Transform *
*************
*/
/* Transform filter, cards on hover */
.transform-position {
	transition: transform 0.3s ease-in-out;
	-webkit-transition: transform 0.3s ease-in-out;
	-moz-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
}

/* 
=====
Tags
-----
*/

a {
	color: var(--black);
	text-decoration: none;
}
a:hover {
	text-transform: underline;
}

p {
	margin: 0;
}

.btn {
	text-decoration: underline;
	cursor: pointer;
}
.btn:hover {
	color: var(--medium-grey);
	cursor: pointer;
}

.brand:hover {
	color: var(--blue);
	cursor: pointer;
}

/* 
===============
Utility Classes
---------------
*/
.underline:hover {
	text-decoration: underline;
}
.hidden {
	display: none;
	visibility: hidden;
}



/* 
===================
ANIMATION KEYFRAMES
------------------- 
*/
@keyframes slideFromTop {
	0% {
	  transform: translateY(-150%);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }


/* 
================
= Main Wrapper =
================
*/
div.main-wrapper {
	width: calc(100% - 24px);

	padding: 6px 12px;

	font-size: var(--fs-regular);

	background: var(--light-grey);
}
div.main-wrapper > div {
	 width: 100%;
}

/* 
==========
= Header =
==========
*/
div.header-wrapper {
	height: auto;

	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;

	font-size: var(--fs-regular);
}
div.header-wrapper div.description {
	width: 55%;

	padding-right: 5%;

	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
}
div.header-wrapper div.description img {
	width: 20px;
	height: auto;

	margin-right: var(--margin-next);

	transform: rotate(-90deg);
}
div.header-wrapper div.description p {

}

div.header-wrapper div.how-to-publish {
	width: 20%;

	padding-right: 5%;
}

div.header-wrapper div.stats {
	width: 20%;

	font-size: var(--fs-tiny);
}
div.header-wrapper div.stats div {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
} 
div.stats div.stat-1 .bullet, div.stats div.stat-2 .bullet {
	width: 10px;
	height: 10px;

	margin-right: var(--margin-next);

	border-radius: 999px;
}
div.stats div.stat-1 .bullet {
	background: var(--dark-grey);
}
div.stats div.stat-2 .bullet {
	background: var(--green);
}





/* 
==========
= Images =
==========
*/
div.image-wrapper {
	height: calc(65vh - 100px);

	padding: 70px 0 30px 0;

	display: flex;
	align-items: flex-end;
	justify-content: left;
}
div.image-wrapper img:nth-child(1) {
	height: 100%;
	width: auto;

	border-radius: 12px;
	margin-right: var(--margin-next);
}
div.image-wrapper img:nth-child(2) {
	height: 70%;
	width: auto;
}

/* 
===========
= Library =
===========
*/
div.library-wrapper > div {
	width: 100%;
}
.lib-row-wrapper {
	font-size: var(--fs-small);
}

div.lib-header {
	padding: 24px 0;

	font-size: var(--fs-large);
}
div.lib-row-wrapper .lib-anchor {
	display: grid;
	grid-template-columns: 32% 30% 18% 10% 10%;
	grid-template-rows: 40px;
	grid-template-areas: 
	"title-anchor author-anchor date-anchor subject-anchor .";

	border-bottom: var(--border-medium-grey);

	color: var(--medium-grey);
	font-size: var(--fs-regular);
}
div.lib-row-wrapper .lib-anchor > p {
	align-self: end;

	margin-bottom: 6px;
}
.lib-anchor .title-anchor {
	grid-area: title-anchor;
}
.lib-anchor .author-anchor {
	grid-area: author-anchor;
}
.lib-anchor .date-anchor {
	grid-area: date-anchor;
}
.lib-anchor .subject-anchor {
	grid-area: subject-anchor;
}

div.lib-row-wrapper .lib-row-1-show-hashtag {
	display: grid;
	grid-template-columns: 32% 30% 18% 10% 10%;
	grid-template-rows: 50px 80px 80px;
	grid-template-areas: 
	"new-1 . . . ."
	"title-1 author-1 date-1 tag-1 img-1"
	"hashtag-1 hashtag-1 hashtag-1 hashtag-1 hashtag-1";

	border-bottom: var(--border-black);

	padding: 2px 0;
}
div.lib-row-wrapper .lib-row-1-hide-hashtag {
	display: grid;
	grid-template-columns: 32% 30% 18% 10% 10%;
	grid-template-rows: 50px 80px 0px;
	grid-template-areas: 
	"new-1 . . . ."
	"title-1 author-1 date-1 tag-1 img-1"
	"hashtag-1 hashtag-1 hashtag-1 hashtag-1 hashtag-1";

	border-bottom: var(--border-black);

	padding: 2px 0;
}
div.lib-row-wrapper .lib-row-1-show-hashtag > p, div.lib-row-wrapper .lib-row-1-hide-hashtag > p {
	align-self: start;

	margin-top: var(--margin-next);
}
div.lib-row-wrapper .lib-row-1:hover > p {
	color: var(--blue);
}
.new-wrapper-1 {
	grid-area: new-1;

	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	align-self: end;
}
.new-wrapper-1 div {
	width: 60px;
	padding: 4px 0;

	display: flex;
	justify-content: center;

	margin-right: var(--margin-next);

	background: var(--green);
	color: white;

	border-radius: 6px;
}
.title-1 {
	grid-area: title-1;
}
.author-1 {
	grid-area: author-1;
}
.date-1 {
	grid-area: date-1;
}
.tag-1 {
	grid-area: tag-1;
}
.img-1 {
	grid-area: img-1;

	justify-self: end;

	width: 35px;
	height: auto;

	transform: rotate(-90deg);;
}
.hashtag-wrapper-1 {
	grid-area: hashtag-1;
	display: flex;
	flex-wrap: nowrap;
}
.hashtag-wrapper-1 div {
	max-height: 32px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: var(--margin-next);

	background: var(--white);

	border-radius: 6px;
}
.hashtag-wrapper-1 div p {
	margin: 4px 12px;
}

.lib-row-wrapper .lib-row-2 {
	display: grid;
	grid-template-columns: 32% 30% 18% 10% 10%;
	grid-template-rows: 80px;
	grid-template-areas: 
	"title-2 author-2 date-2 . .";

	border-bottom: var(--border-black);

	padding: 2px 0;

}
div.lib-row-wrapper .lib-row-2:hover > p {
	color: var(--blue);
}
.lib-row-wrapper .lib-row-2 > p {
	align-self: center;
}
.lib-row-2 .title-2 {
	grid-area: title-2;
}
.lib-row-2 .author-2 {
	grid-area: author-2;
}
.lib-row-2 .date-2 {
	grid-area: date-2;
}

.lib-row-wrapper .lib-row-3 {
	display: grid;
	grid-template-columns: 32% 30% 18% 10% 10%;
	grid-template-rows: 80px;
	grid-template-areas: 
	"title-2 author-2 date-2 . .";

	border-bottom: var(--border-black);

	padding: 2px 0;

}
div.lib-row-wrapper .lib-row-3:hover > p {
	color: var(--blue);
}
.lib-row-wrapper .lib-row-3 > p {
	align-self: center;
}
.lib-row-2 .title-3 {
	grid-area: title-3;
}
.lib-row-2 .author-3 {
	grid-area: author-3;
}
.lib-row-2 .date-3 {
	grid-area: date-3;
}

.lib-row-wrapper .lib-row-final {
	display: grid;
	grid-template-columns: 32% 30% 18% 10% 10%;
	grid-template-rows: 80px;
	grid-template-areas: 
	"publish-now publish-now publish-now publish-now publish-now";

	padding: 2px 0;

}
.lib-row-wrapper .lib-row-final > p, .lib-row-wrapper .lib-row-final > img {
	align-self: center;
}
.lib-row-final .publish-now {
	grid-area: publish-now;

	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.publish-now p {
	margin-right: var(--margin-next);
}
.publish-now img {
	width: 20px;
	height: auto;

	transform: rotate(-90deg);
}




/* 
=============
 = Footer ===
=============
*/
.footer-wrapper {
	width: 90%;

	padding: 60px 5%;

	display: flex;
	flex-wrap: wrap;
	align-items: center;


	font-size: var(--fs-regular);

	background: var(--black);
}
.col {
	width: 200px;

	display: flex;
	flex-wrap: wrap;
}
.col p, .col a {
	width: 100%;
}
.col p {
	color: var(--dark-grey);
}
.col a {
	color: var(--white);
}
.col a:hover {

}
.credit-wrapper {
	width: 100%;

	margin-top: 220px;

	color: var(--white);
}











/* 
%%%%%%%%%%%%%%%%%%
% Media Querries %
%%%%%%%%%%%%%%%%%%
*/
@media screen and (max-width: 870px) {


}


