
:root {
	--soft-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	--white-blur-shadow: 0px 0px 40px 35px rgba(255,255,255,1);
	--grey-blur-shadow: 0px 0px 16px -1px rgba(130,130,130,1);

	--black-border: 2px solid #101010;
	--white-border: 2px solid #FFFFFF;
	--lightgrey-border: 1px solid #d7d7d7;
	--inset-grey-border: inset 0px 0px 16px -1px rgba(130,130,130,1);

	--white: #ffffff;
	--black: #101010;
	--lighter-black: #1A1A1A;
	--beige: #D5BBAD;
	--baby-yellow: #FAF7E5;
	--baby-red: #FFE4DE;
	--purple-blue: #486AB7;
	--blue: #3B6EE2;
	--burn-orange: #F26B60;

	--baby-blue: #00c3ff;
	--low-opacity-grey: #dededee8;
	--medium-grey: #828282;
	--low-medium-grey: #cacaca;
	--light-grey: #d7d7d7;
	--red-orange: #f1960d;
	--brown: #b3a7a7;
	--royal-blue: #a4bcff;
	--forest-green: #2a6b47;
	--green: #55bd49;

	/* Font Sizes */
	--normal: 1.2em;
	--normal-mobile: 5.8vw;

	--header: 42px;
	--logo: 52px;
	--regular-mobile: 24px;
	--regular: 21px;
	--regular-min: 18px;
	--call-action-btn: 32px;

	/* Border-radius */
	--radius-10: 10px;

	/* Margin/padding*/
	--padding-tabs: 6px 14px 6px 14px;
	--padding-card: 16px 18px 16px 18px;
	--margin-filter: 16px 16px 16px 0px;
	--margin-filter-mobile: 8px 16px 8px 0px;
	--padding-action-btn: 24px 48px 24px 48px;

}

button {
	outline: none;
}

.wrapper {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
}

/* Transform */
.smooth-slide-up {
	top: -100%;

	transition: top 1s ease-in;
	-webkit-transition: top 1s ease-in;
	-moz-transition: top 1s ease-in;
	-o-transition: top 1s ease-in;	
}
.smooth-slide-up-main-wrapper {
	top: 0;

	transition: top 1.5s ease-out, background-color 1s linear;
	-webkit-transition: top 1.5s ease-out, background-color 1s linear;
	-moz-transition: top 1.5s ease-out, background-color 1s linear;
	-o-transition: top 1.5s ease-out, background-color 1s linear;
}
.transform-main-wrapper {
	top: 100%;
}

.no-transform {
	top: 0;
}

/* 
===================
ANIMATION KEYFRAMES
------------------- 
*/
@keyframes slideFromTop {
	0% {
	  transform: translateY(-150%);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }


 /* ================
 = Book Details =
================= */
div.book-details-wrapper {
	position: relative;

	width:100%;

	z-index: 20;
}
div.book {
	width: calc(100% - 16px);

	padding: 18px 8px 64px 8px;

	display: flex;
	flex-wrap: nowrap;

	font-family: inherit;
	font-size: var(--regular);
}

/* 
------------------------
- book content Wrapper - 
------------------------
*/
div.book div.book-specification-wrapper {
	width: 58%;
}

/* -- Details -- */
div.book div.book-specification-wrapper div.details-wrapper {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
}
div.details-wrapper div.item {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;

	margin: var(--margin-filter);
}
div.details-wrapper div.item p.category {
	line-height: 36px;
	margin-right: 16px;
}
div.details-wrapper div.item div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

	border: var(--black-border);

	border-radius: 500px;

	padding: 6px 14px 6px 14px;;
}
div.details-wrapper div.item div img {
	height: 16px;
	margin-left: 16px;
}

/* -- Description -- */
div.book div.book-specification-wrapper div.description-wrapper {
	padding: 16px 0 16px 0;
}
div.description-wrapper h1 {
	font-weight: 400;
	font-size: var(--header);

	margin: 0;
}
div.description-wrapper p {
	margin-top: 16px;
}

/* -- Buttons -- */
div.book div.book-specification-wrapper div.read-btn-wrapper {
	display: flex;
	justify-content: left;
	align-content: center;

	padding: 16px 0 0 0;
}
div.read-btn-wrapper div button {
	border: none;
	border-radius: 500px;

	padding: var(--padding-action-btn);

	font-family: aktiv-grotesk, sans-serif;
	font-size: var(--call-action-btn);
	color: var(--white);

	background: var(--blue);
}


/* 
-----------------
- Image Wrapper - 
-----------------
*/
div.book div.image-wrapper {
	width: 42%;

	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: flex-start;

	padding: 32px 0 16px 0;
}
div.book div.image-wrapper img {
	width: 80%;
}
div.book div.image-wrapper div.tag {
	position: absolute;
	top: 16px;
	right: -16px;

	width: 64px;
	height: 64px;

	padding: 18px;

	transform: rotate(26deg);

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--white);

	border-radius: 1000px;

	background: var(--beige);
}


/* 
%%%%%%%%%%%%%%%%%%
% Media Querries %
%%%%%%%%%%%%%%%%%%
*/
@media screen and (max-width: 870px) {

	/* ================
	= Book Details =
	================= */
	div.book {
		/* width: calc(100% - 32px); */
	
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	
		/* font-family: inherit; */
		font-size: var(--regular-mobile);
	}

	/* 
	------------------------
	- book content Wrapper - 
	------------------------
	*/

	div.details-wrapper div.item {
		/* item div content does not see height change */
		flex-wrap: wrap;
		justify-content: start;

		font-size: var(--regular);
	}
	div.details-wrapper div.item:nth-child(2), div.details-wrapper div.item:nth-child(4) {
		margin-right: 0;
	}

	/* -- Buttons -- */
	div.book div.book-specification-wrapper {
		width: 100%;
	}
	div.book div.book-specification-wrapper div.read-btn-wrapper {
		justify-content: center;
		
		padding: 16px 0 0 0;
	}
	div.read-btn-wrapper div button {

	
	}	

	/* 
	-----------------
	- Image Wrapper - 
	-----------------
	*/
	div.book div.image-wrapper {
		width: 100%;

		display: flex;
		justify-content: center;
		/* align-items: flex-start; */
		/* align-content: flex-start; */

		/* padding: 32px 0 16px 0; */
	}
	div.book div.image-wrapper div.tag {
		/* position: absolute; */
		top: 16px;
		right: 4%;
	
		/* width: 64px; */
		/* height: 64px; */
	} 
}


