html {
	margin: 0;
	width: 100%;
	height: 100%;

	overflow: auto;
	overflow-x: hidden;

	font-family: aktiv-grotesk, sans-serif;
	font-weight: 400;
	font-style: normal;

	text-decoration: none;

	background: var(--white);

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

}
body {
	margin: 0;
	width: 100%;
	height: 100%;

	overflow: auto;
	overflow-x: hidden;
}
/* FONT-FACE */
@font-face {
    font-family: 'agrandirnarrow';
    src: url('/styles/fonts/agrandir-narrow-webfont.woff2') format('woff2'),
         url('/styles/fonts/agrandir-narrow-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;
}

:root {
	--soft-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	--white-blur-shadow: 0px 0px 40px 35px rgba(255,255,255,1);
	--grey-blur-shadow: 0px 0px 16px -1px rgba(130,130,130,1);

	--black-border: 2px solid #101010;
	--white-border: 2px solid #FFFFFF;
	--lightgrey-border: 1px solid #d7d7d7;
	--inset-grey-border: inset 0px 0px 16px -1px rgba(130,130,130,1);

	--white: #ffffff;
	--black: #101010;
	--lighter-black: #1A1A1A;
	--light-grey: #EDEDED;
	--beige: #D5BBAD;
	--baby-yellow: #FAF7E5;
	--baby-red: #FFE4DE;
	--purple-blue: #486AB7;
	--baby-blue: #a4bcff;
	--burn-orange: #F26B60;
	--flash-green: #3BE2A2;
	--forest-green: #2DA275;

	/* Font Sizes */
	--normal: 1.2em;
	--normal-mobile: 5.8vw;

	--sub-header: 1.4em;
	--logo: 52px;
	--regular-mobile: 24px;
	--regular: 21px;
	--regular-min: 18px;

	/* Border-radius */
	--radius-10: 10px;

	/* Margins between elements */
	--padding-tabs: 6px 14px 6px 14px;
	--padding-card: 16px 18px 16px 18px;
	--margin-filter: 16px 16px 16px 0px;
	--margin-filter-mobile: 8px 16px 8px 0px;

}


.wrapper {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
}

/* 
*************
* Transform *
*************
*/
/* Transform filter, cards on hover */
.transform-position {
	transition: transform 0.3s ease-in-out;
	-webkit-transition: transform 0.3s ease-in-out;
	-moz-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
}
div.lib-filter-item-wrapper div:hover {
	transform: translate(4px, -6px);
}
div.card:hover {
	transform: translate(4px, -6px);
}
/* transition on bgd color for main wrapper */
div.wrapper-main {
	/* transition: background-color 1s linear;
	-webkit-transition: background-color 1s linear;
	-moz-transition: background-color 1s linear;
	-o-transition: background-color 1s linear; */
}
.no-transform:hover {
	transform: none;
}


a {
	color: var(--black);
	text-decoration: none;
}
a:hover {
	text-transform: underline;
}

p {
	margin: 0;
}

.underline {
	text-decoration: underline;
}
.hidden {
	display: none;
	visibility: hidden;
}

/* 
===================
ANIMATION KEYFRAMES
------------------- 
*/
@keyframes slideFromTop {
	0% {
	  transform: translateY(-150%);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }


/* 
==============
= Nav / Logo =
==============
*/
div.logo {
	position: absolute;
	top: 32px;
	left: 35px;

	z-index: 20;
}
div.logo a, div.logo-mobile a {
	font-size: var(--logo);

	/* font-family: bely-display, sans-serif;
	font-weight: 400;
	font-style: normal; */

	font-family: bely, serif;
	font-weight: 700;
	font-style: normal;
}
div.logo-mobile a {
	display: none;
	visibility: hidden;
}

/* 
================
= Wrapper Main =
================
*/
/* Wrapper Main */
.wrapper-main {
	position: relative;

	width: calc(100% - 70px);

	padding-left: 35px;
	padding-right: 35px;

	background: var(--white);
}

/* 
==============
 = Header ===
==============
*/

div.header {
	width: 100%;

	font-size: var(--regular-min);

	border-bottom: var(--black-border);
}
div.header div.header-wrapper {
	width: 100%;
	height: calc(100% + 32px);

	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	padding: 16px 0px 8px 0px;

}
/* 
------------------------
- Header - Color Theme - 
------------------------
*/
div.header-wrapper div.color-theme-wrapper {
	height: 50%;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
div.header-wrapper div.tabs-wrapper {
	display: flex;
	flex-wrap: nowrap;
}
div.header-wrapper div.color-theme-wrapper p {
	margin: var(--margin-filter);
}
div.header-wrapper div.color-theme-wrapper div {
	height: 26px;
	width: 26px;

	border-radius: 5px;

	box-shadow: var(--soft-box-shadow);
}

div.header-wrapper div.color-theme-wrapper div:nth-child(2) {
	background: var(--white);
	/* Spacing between color theme btn */
	margin: var(--margin-filter);
}
div.header-wrapper div.color-theme-wrapper div:nth-child(3) {
	background: var(--baby-yellow);
	/* Spacing between color theme btn */
	margin: var(--margin-filter);
}
div.header-wrapper div.color-theme-wrapper div:nth-child(4) {
	background: var(--baby-red);
	/* Spacing between color theme btn */
	margin: 16px 0px 16px 0px;
}

/* 
-------------------
 - Header - Tabs - 
-------------------
*/
div.header-wrapper div.tabs-wrapper  {
	height: 50%;
	width: 100%;

	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
div.header-wrapper div.tabs-wrapper div.tab {
	margin-bottom: 8px;
	padding: var(--padding-tabs);

	border-radius: 500px;
}
div.header-wrapper div.tabs-wrapper div.tab:nth-child(1) {
	background: var(--light-grey);
}
div.header-wrapper div.tabs-wrapper div.tab:nth-child(3) {
	background: var(--flash-green);
}
div.header-wrapper div.tabs-wrapper div.tab::not(:last-child) {
	/* All except last have margin-right */
	margin: var(--margin-filter);
}
div.header-wrapper div.tabs-wrapper div.tab-1 {
	display: flex;
	flex-wrap: nowrap;
}
div.header-wrapper div.tabs-wrapper div.tab img {
	height: 26px;
	width: auto;

	margin-right: 16px;
}





/* 
=============
 = Footer ===
=============
*/
div.footer {
	width: 100%;
	/* temp */
	height: 100px;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	border-top: var(--black-border);
}
div.footer p {
	font-size: var(--regular);

	margin: 0;
}

/* 
==============
= Lib - Main =
==============
*/
div.lib-wrapper {
	position: relative;

	width: 100%; 

	z-index: 10;
}

/* 
----------------
- Lib - Filter -
----------------
*/
div.lib-wrapper div.lib-filter {
	width: 100%;

	display: flex;
	flex-wrap: wrap;

	padding-bottom: 16px;

}
div.lib-filter-item-wrapper {
	margin: var(--margin-filter);
}
div.lib-filter div.lib-filter-item-wrapper:nth-child(1) {
	/* Set width of 1st #Book */
	width: 160px;
}
div.lib-filter div.lib-filter-item-wrapper:nth-child(2) {
	/* Set width of 2nd #Contact */
	width: 190px;
}
div.lib-filter div.lib-filter-item-wrapper:nth-child(3) {
	/* Set width of 3rd #Why */
	width: 136px;
}
div.lib-filter-item-wrapper div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;


	padding: var(--padding-tabs); 

	border-radius: 1000px;

	border: var(--black-border);

}
div.lib-filter-item-wrapper div p {
	font-size: var(--regular);

}
div.lib-filter-item-wrapper div img {
	width: 20px;
	height: auto;

	transform: rotate(45deg);
}



/* 
-----------------
- Lib - Content -
-----------------
*/
div.lib-wrapper div.lib-content {
	width: 100%;

	display: grid;
	grid-template-columns: auto 364px auto 364px auto;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: ". card-1 . card-2 ." ". card-3 . . .";
	row-gap: 78px;

	margin-bottom: 78px;
}

div.lib-content div.card {
	/* temp */
	height: 464px;

	border: var(--black-border);
	border-radius: var(--radius-10);
}
div.lib-content div.card:nth-child(1) {
	grid-area: card-1
}
div.lib-content div.card:nth-child(2) {
	grid-area: card-2
}
div.lib-content div.card:nth-child(3) {
	grid-area: card-3
}

/* 
--------------------------------
- Lib - Content - Card Content -
--------------------------------
*/

div.card div {
	display: flex;
	justify-content: center;

	font-size: var(--regular);
}
div.card .hashtag {
	width: calc(100% - 36px);

	justify-content: left;

	padding: var(--padding-card);; 

	border-bottom: var(--black-border);
}

div.card .content {
	height: 58%;

	flex-wrap: wrap;

	padding: var(--padding-card); 
}
.content img {
	width: auto;
	height: 78%;

	margin-bottom: 12px;
}
.content p {
	width: 100%;

	text-align: center;
}
div.card:nth-child(2) .content p {
	/* Set text for #Information */
	text-align: left;
}

div.card .btn-wrapper {
	width: calc(100% - 36px);

	padding: var(--padding-card);
}
div.card .btn-wrapper div {
	padding-top: 18px;
	padding-bottom: 18px;

	width: 80%;

	border: var(--black-border);

	border-radius: 1000px;
}
div.card .btn-wrapper div button {
	margin: 0;
	padding: 1px 6px 1px 6px;

	border: none;
	background: none;

	font-size: inherit;
}





/* 
%%%%%%%%%%%%%%%%%%
% Media Querries %
%%%%%%%%%%%%%%%%%%
*/
@media screen and (max-width: 870px) {

	/* 
	==============
	= Nav / Logo =
	==============
	*/
	div.logo {
		display: none;
		visibility: hidden;
	}
	div.logo-mobile a {
		display: block;
		visibility: visible;
	}

	/* 
	-------------------
	- Header - Tabs - 
	-------------------
	*/
	div.header-wrapper div.tabs-wrapper  {
		flex-wrap: wrap;
	}

	/* 
	================
	= Wrapper Main =
	================
	*/
	/* Wrapper Main */
	.wrapper-main {
		width: calc(100% - 36px);

		padding: 8px 18px 8px 18px;
	}

	/* 
	----------------
	- Lib - Filter -
	----------------
	*/
	div.lib-wrapper div.lib-filter {
		/* Create more vertical space between #item and top-border/cards */
		padding-top: 16px;
		padding-bottom: 32px;
	}
	div.lib-filter-item-wrapper {
		margin: var(--margin-filter-mobile);
	}

	/* 
	-----------------
	- Lib - Content -
	-----------------
	*/
	div.lib-wrapper div.lib-content {
		grid-template-columns:100%;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: "card-1" "card-2" "card-3";
		row-gap: 64px;
	}
	div.lib-content div.card {
		width: 100%;
		min-width: 286px;
		max-width: 388px;
		justify-self: center;
		/* Set font to mobile */
		font-size: var(--regular-mobile);
	}

	/* 
	--------------------------------
	- Lib - Content - Card Content -
	--------------------------------
	*/
	div.card div {
		font-size: var(--regular-mobile);
	}

}


