html, body {
	margin: 0;
	min-height: 100vh;
	width: 100%;
	height: 100%;

	overflow: auto;
	overflow-x: hidden;
	
	font-family:'neue_montrealregular';
	font-style: normal;
	font-weight: 300;

	text-decoration: none;

	background: var(--white);

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

}
/* FONT-FACE */
@font-face {
    font-family: 'agrandirnarrow';
    src: url('/styles/fonts/agrandir-narrow-webfont.woff2') format('woff2'),
         url('/styles/fonts/agrandir-narrow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'agrandirregular';
    src: url('/styles/fonts/agrandir-regular-webfont.woff2') format('woff2'),
         url('/styles/fonts/agrandir-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'agrandirwide_light';
    src: url('/styles/fonts/agrandir-widelight-webfont.woff2') format('woff2'),
         url('/styles/fonts/agrandir-widelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'pp_woodlandultralight';
	src: url('/styles/fonts/ppwoodland-ultralight-webfont.woff2') format('woff2'),
		url('/styles/fonts/ppwoodland-ultralight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'neue_montrealregular';
    src: url('/styles/fonts/neuemontreal-regular-webfont.woff2') format('woff2'),
         url('/styles/fonts/neuemontreal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
	--soft-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	--white-blur-shadow: 0px 0px 40px 35px rgba(255,255,255,1);
	--grey-blur-shadow: 0px 0px 16px -1px rgba(130,130,130,1);

	--black-border: 1px solid #000000;
	--lightgrey-border: 1px solid #d7d7d7;
	--royal-blue-border: 1px solid #a4bcff;
	--inset-grey-border: inset 0px 0px 16px -1px rgba(130,130,130,1);

	--baby-blue: #00c3ff;
	--white: #ffffff;
	--black: #000000;
	--low-opacity-grey: #dededee8;
	--medium-grey: #828282;
	--low-medium-grey: #cacaca;
	--light-grey: #d7d7d7;
	--red-orange: #f1960d;
	--brown: #b3a7a7;
	--royal-blue: #a4bcff;
	--forest-green: #2a6b47;
	--green: #55bd49;

	--normal: 1.2em;
	--normal-mobile: 5.8vw;
	--sub-header: 1.4em;
}


.wrapper {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
}

/* Transform */
.transform-1 {
	transform: rotate3d(1, 1, 1, 20deg);

	transition: height 1s ease-out, transform 0.5s ease-out;
	-webkit-transition: height 1s ease-out, transform 0.5s ease-out;
	-moz-transition: height 1s ease-out, transform 0.5s ease-out;
	-o-transition: height 1s ease-out, transform 0.5s ease-out;	
}
.transform-2 {

	transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;	

}
.no-transform:hover {
	transform: none;
}

a:hover {
	text-transform: capitalize;
}

/* 
===================
ANIMATION KEYFRAMES
------------------- 
*/
@keyframes slideFromTop {
	0% {
	  transform: translateY(-150%);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }


  /* 
====
MASK
----
*/
div.mask {
	position: fixed;
	top: -50px;
	left: -25vw;

	width: 150vw;
	height: 50px;


	background: none;

	border-radius: 100%;

	-webkit-box-shadow: var(--white-blur-shadow);
	-moz-box-shadow: var(--white-blur-shadow);
	box-shadow: var(--white-blur-shadow);

	z-index: 25;
}
/* 
====
HEADER
----
*/
nav {
	position: fixed;
	left: 2px;
	top: 2px;

	height: auto;
	width: 60%;

	mix-blend-mode: exclusion;

	z-index: 150;
}
div.header {
	height: 100%;

	display: flex;
	background: transparent;
	opacity: 1;

	z-index: 50;
}
div.header div {
	position: absolute;
	margin: 0;

	color: var(--white);

	font-size: 6.5vw;
	text-transform: uppercase;

	cursor: pointer;

	z-index: 200;
}
div.header div a img {
	width: 330px;
	height: auto;

	cursor: pointer;
}

/* 
====
INFO
----
*/
div.info {
	position: absolute;
	top: 300px;
	left: 5px;

	width: 30%;
	min-width: 300px;
	height: auto;

	font-size: 1.8em;

	text-transform: uppercase;

	color: var(--black);

	z-index: 300;
}
div.info .btn {
	position: relative;

	font-size: 3.5vw;
	margin: 0;

	cursor: pointer;

	z-index: 301;
}
div.info a {
	color: var(--black);
}
div.info div.info-wrapper {
	display: flex;
	align-items: flex-start;

	flex-wrap: wrap;
}
div.info div.info-hide {
	opacity: 0;
}
div.info div.info-show {
	opacity: 1;
}

/* 
======
FRAMES
------
*/
div.frame {
	position: absolute;
	left: -50px;

	height:100%;
	width:  100%;
	min-width: 300px;
	min-height: 405px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.4em;
	text-align: center;

	animation: 3s ease-out 0s 1 slideFromTop;

	background: var(--white);

	z-index: 10;
}
.frame p {
	position: absolute;

	color: var(--baby-blue);

	z-index: 15;
}
.frame p span {
	width: 100%;

	font-size: 1.2em;
}
.frame img {
	position: relative;
	bottom: -40px;

	height: 80%;
	width: auto;

	z-index: 5;
}

/* 
============
CONVERSATION
------------
*/
div.conversation {
	position: absolute;
	right: 0;
	bottom: 0px;

	height: auto;
	max-width: 50vh;
	height: auto;

	border-radius: 3px;

	padding-left: 20px;
	padding-right: 20px;

	text-align: center;

	text-transform: uppercase;

	overflow-y: scroll;

	/* display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-wrap: wrap; */
	vertical-align: baseline;

	/* -webkit-box-shadow: var(--grey-blur-shadow);
	-moz-box-shadow: var(--grey-blur-shadow);
	box-shadow: var(--grey-blur-shadow); */

	color: var(--black);

	z-index: 15;
}
/* div 1 */
div.conversation div:nth-child(1) {
	font-size: var(--sub-header);
}
div.conversation div:nth-child(1) p {
	margin-top: 20px;
	margin-bottom: 20px;
}
/* div 2 */
div.conversation div:nth-child(2) {
	text-align: left;

	font-size: var(--normal);
}
div.conversation div:nth-child(2) p {
	margin-top: 20px;
	margin-bottom: 20px;

	text-transform: none;
}
/* div 3 */
div.conversation div:nth-child(3) {
	padding-top: 20px;
	padding-bottom: 20px;

	text-transform: uppercase;
}
div.conversation div:nth-child(3) a {
	margin-top: 20px;
	margin-bottom: 20px;

	color: var(--black);

	font-size: 1.4em;

	text-decoration: none;
}
/* hover effect:  */
div.conversation div:nth-child(3):hover {
	text-transform: capitalize;
}

/* 
&&&&&&&&&&&&&&&&&
& QUESTIONNAIRE &
&&&&&&&&&&&&&&&&&
 */
div.q-wrapper {
	position: absolute;
	top: 40px;
	/* right: 10px; */

	width: 80%;
	height: auto;

	padding-left: 10%;
	padding-right: 10%;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	font-size: var(--normal);

	background: var(--white)
}
 /* Header */
div.q-wrapper p:nth-child(1) {
	text-transform: uppercase;
	font-size: var(--sub-header);
	font-weight: 700;
}
div.q-wrapper div.description {
	 width: 50%;
	 min-width: 500px;
}

/* 
=========
COPYRIGHT
---------
*/
div.copyright {
	position: absolute;
	left: 20px;
	bottom: 20px;

	z-index: 15;
}
div.copyright p {
	font-size: 0.8em;

	color: var(--medium-grey);

	text-transform: uppercase;

	margin: 0;
}
div.copyright p span {
	visibility: hidden;
	display: none;
}

/* 
%%%%%%%%%%%%%%%%%%
% MEDIA QUERRIES %
%%%%%%%%%%%%%%%%%%
*/
@media screen and (max-width: 520px) {
	/* Hides masks in mobile view to force all black header */
	div.mask {
		/* display: none; */
	}
	div.header div a img {
		width: 300px;
	}

	div.wrapper {
		/* margin-top: 20px; */

		height: auto;

		flex-wrap: wrap;

		animation: 4s ease-out 0s 1 slideFromTop;
	}
	/* Sets info-wrapper to no-display when on mobile*/
	div.info div.info-hide {
		display: none; 
		opacity: 0;
	}
	div.info div.info-show {
		display: block;
		opacity: 1;
	}

	div.info {
		position: static;

		height: 100%;
		width: calc(100% - 10px);

		padding-left: 10px;
		padding-right: 10px;

		margin-top: 260px;

		/* background: var(--green); */

		font-size: 8vw;

		z-index: 25;
	}
	div.info .btn {
		font-size: 8vw;
	}

	div.frame {
		position: static;
		height: 90vh;

		font-size: 1.2em;

		animation: none;

		/* background: var(--low-opacity-grey); */
	}
	div.frame img {
		bottom: 0;
	}

	div.conversation {
		position: static;

		height: auto;
		max-height: none;
		width: 100%;
		max-width: none;

		overflow-y: auto;

		border-radius: 0;

		margin-bottom: 10vh;
		/* margin-top: 10vh; */

		font-size: 8vw;
	
		text-align: center;
	}
	/* set description text-size */
	div.conversation div:nth-child(2) {
		font-size: var(--normal-mobile);
	}

	/* reformat width from 80% to 100% on mobile  */
	div.q-wrapper {
		width: calc(100% - 40px);
		min-width: auto;
		right: 0;
		top: 250px;

		padding-left: 20px;
		padding-right: 20px;

		font-size: var(--normal-mobile);
	}
	div.q-wrapper div.description {
		width: 98%;
		min-width: auto;
	}

	div.copyright {
		position: static;
	
	}
	div.copyright p span {
		visibility: visible;
		display: inline-block;
	}
  }


